Source: vx-dga-l-lupa
Section: utils
Priority: extra
Maintainer: Arturo Martín <amartinromero@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3
Homepage: http://wiki.vitalinux.educa.aragon.es

Package: vx-dga-l-lupa
Architecture: i386
Depends: ${misc:Depends}, libgdk-pixbuf2.0-0, libgtk2.0-0, libpango-1.0-0, libatk1.0-0, libcairo2
Description: Instala y Configura el software Virtual Magnifying Glass, vmg
 Instala y Configura el software Virtual Magnifying Glass, vmg, añadiendo un lupa.desktop
